:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis:100vw;
  flex-grow: 0;
  flex-shrink: 0;
}

span {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor:pointer;
}